/* BANNER */
.App-banner {
  max-width: 480px;
  min-width: 320px;
  position: fixed;
  bottom: 0;
  background-color: #fcfcfc;
  .banner-img {
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    background-image: url("../image/img_5.png");
  }
}
