/* BANNER */
.App-banner {
  width: 100%;
  z-index: 9;
  position: fixed;
  bottom: 0;
  background-color: #fcfcfc;
  .banner-img {
    position: relative;
    height: 100%;
    background-image: url("../image/img_5.png");
  }
}
