// DICTIONARY MAIN
.App-dictionarymain {
  .dictionarymain-body {
    width: 90%;
    min-height: 800px;
    height: auto;
    overflow: hidden;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 2px rgb(170, 170, 170);
    text-align: center;
    .first-table {
      width: 70%;
      height: 300px;
      margin: 30px;
      margin-top: 10%;
      border-radius: 1rem;
      box-shadow: 1px 1px 2px 2px rgb(170, 170, 170);
      .table-title {
        font-size: 18pt;
      }
      .table-content {
        width: 90%;
        margin-left: 10px;
        margin-top: 10%;
        font-size: large;
        border-collapse: separate;
        border-spacing: 0 0.6rem;
        .data-rank {
          width: 10%;
        }
        .data-word {
          width: 90%;
          padding-left: 40px;
          text-align: start;
          a {
            color: black;
            text-decoration: none;
          }
          .data-word-link:hover {
            color: #003333;
            transform: scale(1.2);
            transition: all 1s;
          }
        }
      }
    }
    .second-table {
      width: 70%;
      height: 300px;
      margin: 30px;
      margin-top: 20%;
      left: 20%;
      border-radius: 1rem;
      box-shadow: 1px 1px 2px 2px rgb(170, 170, 170);
      .table-title {
        font-size: 18pt;
      }
      .table-content {
        width: 90%;
        margin-left: 10px;
        margin-top: 10%;
        font-size: large;
        border-collapse: separate;
        border-spacing: 0 0.6rem;
        .data-rank {
          width: 10%;
        }
        .data-word {
          width: 90%;
          padding-left: 40px;
          text-align: start;
          a {
            color: black;
            text-decoration: none;
          }
          .data-word-link:hover {
            color: #003333;
            transform: scale(1.2);
            transition: all 1s;
          }
        }
      }
    }
  }
}

// DICTIONARY DETAIL
.App-dictionarydetail {
  .dictionarydetail-body {
    width: 90%;
    min-height: 100vh;
    overflow: hidden;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 2px rgb(170, 170, 170);
    text-align: center;
    .detail-title {
      margin-top: 3%;
      font-size: 2.5rem;
      color: #003333;
    }
    .title-body-between {
      height: 0.2rem;
    }
    .detail-body {
      display: block;
      justify-content: center;
      .mean-table {
        width: 90%;
        height: 300px;
        margin: 30px;
        margin-top: 10%;
        font-size: 14pt;
        border-collapse: separate;
        border-spacing: 0 0.6rem;
        .mean-comment {
          width: 90%;
        }
        .mean-count {
          width: 10%;
          button {
            min-width: 40px;
            min-height: 40px;
            background: none;
            border: 0.1px solid black;
            border-radius: 5px;
          }
          button:hover {
            background-color: cornflowerblue;
            color: white;
            border: none;
            transform: scale(1.2);
            transition: all 0.5s;
          }
        }
      }
      .comment-add-area {
        .mb-3 {
          padding: 10px;
          .add-text {
            border: none;
            border-bottom: 2px solid gray;
            font-size: 14pt;
          }
          .add-btn {
            border: none;
            background-color: #003333;
            color: white;
          }
          .add-btn:hover {
            background-color: cornflowerblue;
            transform: scale(1.2);
            transition: all 0.5s;
          }
        }
      }
    }
  }
}
