// FOOTER
footer {
  background-color: #fcfcfc;
  border-top: 0.5px solid #333;
  .inner {
    padding: 2rem 0 0 0;
  }
  .menu {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
    list-style: none;
    li {
      position: relative;
      a {
        color: #272727;
        font-size: 0.8rem;
        font-weight: 700;
        padding: 0.5rem;
        display: block;
      }
    }
    li::before {
      content: "";
      width: 3px;
      height: 3px;
      background-color: #555;
      position: absolute;
      top: 0;
      bottom: 0;
      right: -1px;
      margin: auto;
    }
    li:last-child {
      a {
        text-decoration: none;
      }
    }
    li:last-child::before {
      display: none;
    }
  }
  .info {
    margin-top: 1.5rem;
    text-align: center;
    span {
      margin-right: 1rem;
      color: #999;
      font-size: 0.8rem;
    }
    span:last-child {
      margin-right: 0;
    }
  }
  .copyright {
    color: #999;
    font-size: 0.75rem;
    text-align: center;
    margin-top: 0.75rem;
  }
}
