/* HEADER COMMON */
.header {
  height: 70px;
  background-color: #003333;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .back-area {
    display: flex;
    /* HEADER BACK BUTTON */
    .back {
      width: 50px;
      height: 50px;
      margin-left: 25px;
    }
  }
  .logo-area {
    display: flex;
    /* HEADER LOGO IMG */
    .logo {
      height: 70px;
    }
  }
  .search-area {
    display: flex;
    /* HEADER SEARCH BUTTON */
    .search {
      width: 40px;
      height: 40px;
      margin-right: 25px;
    }
  }
}
