/* HEADER COMMON */
.App-header {
  width: 480px;
  max-height: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #003333;
  top: 0;
  position: fixed;
  z-index: 9;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .back-area {
      display: flex;
      /* HEADER BACK BUTTON */
      .back {
        width: 50px;
        height: 50px;
        margin-left: 25px;
      }
    }
    .logo-area {
      display: flex;
      /* HEADER LOGO IMG */
      .logo {
        height: 70px;
      }
    }
    .search-area {
      display: flex;
      /* HEADER SEARCH BUTTON */
      .search {
        width: 40px;
        height: 40px;
        margin-right: 25px;
      }
    }
  }
}
