// HEADER COMMON
.App-header {
  width: 100%;
  max-height: 10%;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  background-color: #003333;
  border-end-start-radius: 0.5rem;
  border-end-end-radius: 0.5rem;
  box-shadow: 0px 2px 2px 2px rgb(200, 200, 200);
  top: 0;
  position: fixed;
  z-index: 9;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .back-area {
      display: flex;
      // HEADER BACK BUTTON
      .back {
        width: 3.125rem;
        height: 3.125rem;
        margin-left: 1.5625rem;
      }
    }
    .logo-area {
      display: flex;
      // HEADER LOGO IMG
      .logo {
        max-height: 3.75rem;
        min-height: 3.125rem;
      }
    }
    .search-area {
      display: flex;
      // HEADER SEARCH BUTTON
      .search {
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 1.5626rem;
      }
    }
  }
}
