/* MAIN COMMON */
div {
  box-sizing: border-box;
}
.App {
  margin: 100px;
  width: 615px;
  border: 3px solid black;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.App-main .header .back-area .back {
  visibility: hidden;
}

// BTN COMMON
.btn--link {
  width: 100%;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 2px 2px rgb(170, 170, 170);
  font-size: medium;
  color: rgb(99, 99, 99);
}

.body {
  margin-left: 30px;
  margin-right: 30px;

  /* MAIN BODY FIRST */
  .main-body-first {
    margin-top: 50px;
    margin-bottom: 50px;
    h2 {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      color: rgb(99, 99, 99);
    }
    .swiper-area {
      height: 400px;
      margin-top: 5%;
    }
    .tab-title {
      height: 10%;
      margin-bottom: 10px;
      box-sizing: border-box;
      .title {
        font-size: 15pt;
        text-align: center;
      }
      .swiper-slide-thumb-active .title {
        font-weight: bold;
        color: #003333;
        padding-bottom: 10px;
        border-bottom: 3px solid #003333;
      }
    }
    .tab-contents {
      height: 80%;
      .swiper-wrapper {
        display: flex;
      }
      .contents {
        text-align: center;
        /* TAB FRAGMENT 1 */
        .table-area-first table {
          width: 90%;
          margin-left: 30px;
          margin-top: 3%;
          font-size: large;
          border-collapse: separate;
          border-spacing: 0 10px;
          .data-rank {
            width: 5%;
          }
          .data-word {
            width: 60%;
            padding-left: 50px;
            text-align: start;
          }
          .data-state {
            width: 5%;
          }
          .data-num {
            width: 20%;
          }
        }
        .update-time {
          margin-top: 4%;
          padding-right: 30px;
          text-align: end;
        }

        /* TAB FRAGMENT 2 */
        .table-area-second table {
          width: 90%;
          margin-left: 30px;
          margin-top: 3%;
          font-size: large;
          border-collapse: separate;
          border-spacing: 0 10px;
          .data-rank {
            width: 5%;
          }
          .data-word {
            width: 60%;
            padding-left: 50px;
            text-align: start;
          }
          .data-state {
            width: 5%;
          }
          .data-num {
            width: 20%;
          }
        }

        /* TAB FRAGMENT 3 */
        .static-data-area .static-img {
          width: 70%;
        }

        .btn--link {
          width: 90%;
          height: 40px;
          margin-top: 20px;
          background-color: white;
          border-radius: 5px;
          border: none;
          box-shadow: 1px 1px 2px 2px rgb(170, 170, 170);
          font-size: medium;
          color: rgb(99, 99, 99);
        }
      }
    }
  }
  /* MAIN BODY SECOND */
  .main-body-second {
    margin-top: 50px;
    margin-bottom: 50px;
    h2 {
      color: rgb(99, 99, 99);
    }
    .btn--link {
      width: 100%;
      height: 50px;
      background-color: white;
      border-radius: 5px;
      border: none;
      box-shadow: 1px 1px 2px 2px rgb(170, 170, 170);
      font-size: medium;
      color: rgb(99, 99, 99);
    }
    /* MAIN BODY SECOND EXAMPLE */
    .news-area img {
      width: 100%;
    }
  }
}
