/* MAIN COMMON */
div {
  box-sizing: border-box;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 80vh;
  width: 100%;
  margin: auto;
  margin-top: 6.25rem;
  margin-bottom: 7.5rem;
  background-color: #fcfcfc;
}

.App-main .header .back-area .back {
  visibility: hidden;
}

// BTN COMMON
.btn--link {
  width: 100%;
  height: 2.5rem;
  background-color: white;
  border-radius: 0.3125rem;
  border: none;
  box-shadow: 1px 1px 2px 2px rgb(170, 170, 170);
  font-size: medium;
  color: rgb(99, 99, 99);
}

.body {
  margin-left: 1.25rem;
  margin-right: 1.25rem;

  /* MAIN BODY FIRST */
  .main-body-first {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    h2 {
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      color: rgb(99, 99, 99);
    }
    .swiper-area {
      height: 21.875rem;
      margin-top: 5%;
    }
    .tab-title {
      height: 10%;
      margin-bottom: 0.625rem;
      // box-sizing: border-box;
      .title {
        font-size: 1rem;
        text-align: center;
      }
      .swiper-slide-thumb-active {
        border-bottom: 3px solid #003333;
        transition: all 0.5s;
        .title {
          transform: scale(1.2);
          transition: all 1s;
          font-weight: bold;
          color: #003333;
          padding-bottom: 0.625rem;
        }
      }
    }
    .tab-contents {
      height: 80%;
      .swiper-wrapper {
        display: flex;
      }
      .contents {
        text-align: center;
        /* TAB FRAGMENT 1 */
        .table-area-first table {
          width: 90%;
          margin-left: 1.875rem;
          margin-top: 3%;
          font-size: large;
          border-collapse: separate;
          border-spacing: 0 10px;
          .data-rank {
            width: 5%;
          }
          .data-word {
            width: 60%;
            padding-left: 3.125rem;
            text-align: start;
          }
          .data-state {
            width: 5%;
          }
          .data-num {
            width: 20%;
          }
        }
        .update-time {
          margin-top: 4%;
          padding-right: 1.875rem;
          text-align: end;
        }

        /* TAB FRAGMENT 2 */
        .table-area-second table {
          width: 90%;
          margin-left: 1.875rem;
          margin-top: 3%;
          font-size: large;
          border-collapse: separate;
          border-spacing: 0 10px;
          .data-rank {
            width: 5%;
          }
          .data-word {
            width: 60%;
            padding-left: 3.125rem;
            text-align: start;
          }
          .data-state {
            width: 5%;
          }
          .data-num {
            width: 20%;
          }
        }

        /* TAB FRAGMENT 3 */
        .static-data-area .static-img {
          width: 70%;
          margin-top: 10%;
        }

        .btn--link {
          width: 90%;
          height: 2.5rem;
          margin-top: 1.25rem;
          background-color: white;
          border-radius: 5px;
          border: none;
          box-shadow: 1px 1px 2px 2px rgb(170, 170, 170);
          font-size: medium;
          color: rgb(99, 99, 99);
        }
      }
    }
  }
  /* MAIN BODY SECOND */
  .main-body-second {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    h2 {
      color: rgb(99, 99, 99);
    }
    .btn--link {
      width: 100%;
      height: 3.125rem;
      background-color: white;
      border-radius: 5px;
      border: none;
      box-shadow: 1px 1px 2px 2px rgb(170, 170, 170);
      font-size: medium;
      color: rgb(99, 99, 99);
    }
    /* MAIN BODY SECOND EXAMPLE */
    // .news-area img {
    //   width: 100%;
    // }
    /* MAIN BODY SECOND NEWSAREA */
    .news-area {
      margin-top: 1.25rem;
      .news-row {
        display: flex;
        .news_script {
          width: 70%;
          h2 {
            font-size: 1rem;
            a {
              color: black;
              text-decoration: none;
            }
          }
          p {
            font-size: 0.7rem;
            a {
              color: black;
              text-decoration: none;
            }
          }
        }
        .news_image {
          width: 30%;
          margin-left: 2%;
          display: flex;
          align-items: center;
          img {
            // max-width: 9.375em;
            width: 100%;
          }
        }
      }
    }
  }
}
