// STATIC MAIN
.App-staticmain {
  width: 100%;
  height: 100vh;
  background-color: #fcfcfc;
  padding-top: 6.25rem;
  padding-bottom: 7.5rem;
  .staticmain-body {
    width: 90%;
    overflow: hidden;
    margin: auto;
    border-radius: 1rem;
    box-shadow: 1.5px 1.5px 2px 2px rgb(170, 170, 170);
    text-align: center;
    .main-title {
      margin-top: 3%;
      font-size: 2.5rem;
      color: #003333;
    }
    .title-body-between {
      height: 0.15rem;
    }
    .static-body {
      display: block;
      justify-content: center;
      .static-table {
        width: 90%;
        height: 35vh;
        margin: 1.875rem;
        margin-top: 10%;
        font-size: 1rem;
        border-collapse: separate;
        border-spacing: 0 0.6rem;
        th {
          font-size: 1.2rem;
        }
        td {
          font-size: 1rem;
          .static-rank {
            width: 5%;
          }
          .static-word_1 {
            width: 45%;
          }
          .static-word_2 {
            width: 45%;
          }
        }
        a {
          color: black;
          text-decoration: none;
        }
        .static-word-link:hover {
          color: #003333;
          transform: scale(1.2);
          transition: all 1s;
        }
      }
    }
  }
}

// STATIC DETAIL
.App-staticdetail {
  width: 100%;
  height: 100vh;
  background-color: #fcfcfc;
  padding-top: 6.25rem;
  padding-bottom: 7.5rem;
  .staticdetail-body {
    width: 90%;
    overflow: hidden;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px 2px rgb(170, 170, 170);
    text-align: center;
    .detail-title {
      margin-top: 10%;
      font-size: 2.3rem;
      color: #003333;
    }
    .title-body-between {
      height: 0.2rem;
    }
    .detail-body {
      display: block;
      justify-content: center;
      a {
        color: black;
        text-decoration: none;
      }
      .static-word-link:hover {
        color: #003333;
        transform: scale(1.2);
        transition: all 1s;
      }
      p {
        font-size: 1rem;
        color: rgb(120, 120, 120);
      }
      .mean-table {
        p {
          margin-left: 10%;
          margin-top: 2%;
          font-size: 1.2rem;
          color: rgb(30, 30, 30);
          text-align: start;
        }
        p:first-child {
          margin-top: 8%;
        }
      }
      .static-area {
        h4 {
          margin-left: 5%;
          margin-top: 15%;
          font-size: 1.75rem;
          text-align: start;
        }
        canvas {
          width: 95%;
          margin-top: 5%;
        }
        p {
          margin-right: 5%;
          margin-top: 5%;
          margin-bottom: 10%;
          text-align: end;
          font-size: 0.9rem;
          color: gray;
        }
      }
      h3 {
        margin-top: 5%;
        font-size: 1.75rem;
      }
    }
  }
}
