@import "~bootstrap/scss/bootstrap";

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  background-color: #fcfcfc;
}

// moblie
@media only screen and (min-width: 301px) and (max-width: 500px) {
  #root:default {
    font-size: 12pt;
  }
  div.App {
    width: 100%;
  }
  .body .main-body-first .swiper-area {
    height: 21.875rem;
  }
  .body .main-body-first .tab-contents .contents .static-data-area .static-img {
    width: 70%;
    margin-top: 10%;
  }
  div.App-banner {
    .banner-img {
      width: 100%;
    }
  }
}
// moblie_galaxy_fold
@media only screen and (max-width: 300px) {
  html {
    font-size: 65%;
    line-height: 1.285;
  }
  div.App-banner {
    .banner-img {
      width: 100%;
    }
  }
  div.main-body-first .swiper-area {
    min-height: 40vh;
  }
  .body .main-body-first .swiper-area {
    height: 21.875rem;
  }
  .body .main-body-first .tab-contents .contents .static-data-area {
    width: 80%;
    margin-top: 10%;
    margin-bottom: 5%;
  }
}

// tablet
@media only screen and (min-width: 501px) and (max-width: 1000px) {
  html {
    font-size: 20pt;
  }
  div.App {
    width: 100%;
  }
  div.App-header {
    min-height: 8vh;
    div.header {
      margin-top: 1%;
      .logo-area .logo {
        height: 3.125rem;
      }
    }
  }
  .body .main-body-first .swiper-area {
    height: 22rem;
  }
  .body .main-body-first .tab-contents .contents .static-data-area {
    width: 80%;
    height: 12rem;
    margin-top: 2%;
  }
  div.App-banner {
    width: 100%;
    max-height: 10%;
    text-align: center;
  }
}

// PC
@media only screen and (min-width: 1001px) {
  html,
  body,
  #root {
    background: black;
  }
  div.App {
    min-height: 100vh;
    max-width: 390px;
    min-width: 320px;
    margin: auto;
  }
  .body .main-body-first .swiper-area {
    height: 21.875rem;
  }
  .body .main-body-first .tab-contents .contents .static-data-area .static-img {
    width: 70%;
    margin-top: 10%;
  }
  div.App-header {
    max-width: 390px;
    min-width: 320px;
    .header .logo-area .logo {
      height: 3.125rem;
    }
  }
  div.App-banner {
    max-width: 390px;
    min-width: 320px;
    .banner-img {
      max-width: 390px;
      min-width: 320px;
    }
  }
  div.App-dictionarymain {
    .dictionarymain-body {
      .first-table {
        width: 60%;
      }
      .second-table {
        width: 60%;
        left: 30%;
      }
    }
  }
}
